.faq {
  padding: 48px 20px;

}

.faq-container {
  max-width: 1000px;
  margin: 0 auto;
}

.faq-badge {
  padding: 8px 16px;
  border-radius: 8px;
  width: fit-content;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
  background-color: #0069FE40;
  color: #0069FE;
}

.faq-heading {
  margin-top: 16px;
  font-size: 30px;
  font-weight: 600;
  color: #080f1a;
}

.faq-description {
  margin-top: 16px;
  max-width: 720px;
  font-size: 18px;
  color: #58667b;
}

.faq-list {
  margin-top: 32px;
  border: 1px solid #d7e1ef;
  border-radius: 24px;
  background-color: white;
  padding: 0 24px;
}

.faq-item {
  padding: 20px 0;
  border-bottom: 1px solid #d7e1ef;
}

.faq-item:last-child {
  border-bottom: none;
}


.faq-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  cursor: pointer;
  list-style: none;
  font-size: 18px;
  font-weight: 600;
  color: #080f1a;
}

.faq-question::-webkit-details-marker {
  display: none;
}

.faq-icon {
  font-size: 24px;
  color: #0469ff;
  transition: transform 0.3s ease;
}

.faq-item[open] .faq-icon {
  transform: rotate(45deg);
}

.faq-answer {
  margin-top: 12px;
  max-width: 820px;
  line-height: 28px;
  color: #58667b;
}

@media (max-width: 479px) {
  .faq {
    padding: 50px 15px;
  }

  .faq-container {
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  .faq {
    padding: 80px 35px;
  }

   .faq-heading {
    font-size: 48px;
  }

  .faq-list {
    padding: 0 32px;
  }
}
