.features {
    padding: 0 35px;
}

.features-viewport {
    width: 100%;
    overflow: hidden;
}

.features-track {
    display: flex;
    gap: 32px;
    width: max-content;

    transition: transform 650ms cubic-bezier(0.22, 1, 0.36, 1);
    will-change: transform;
}

.features-heading {
    max-width: 700px;
    margin: 0 auto 70px;
    text-align: center;
}

.features-subheading {
    width: fit-content;
    margin: 0 auto;

    background-color: #adcdfb;

    padding: 5px 12px;
    border-radius: 8px;
}

.features-heading p {
    margin: 0;

    font-size: 14px;
    font-weight: 500;

    text-transform: uppercase;
    color: #1077fe;
}

.features-heading h2 {
    margin-top: 18px;

    font-size: 54px;
    line-height: 1.15;
    font-weight: 700;

    color: #080f1a;
}

.features-navigation {
    margin-top: 50px;

    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.feature-left {
    padding: 12px 22px;
    border-radius: 7px;
}

.feature-right {
    padding: 12px 35px;
    border-radius: 7px;
}

.feature-btn {
    border: none;

    background: #000;
    color: #fff;

    font-weight: 500;
    cursor: pointer;
}

.feature-btn:disabled {
    background: #606265;
    color: #dadada;

    cursor: default;
    transform: none;
    opacity: 0.35;
}

.feature-slider-item {
    flex: 0 0 auto;
    display: flex;
}


/* ========================================
   TABLET / LARGE MOBILE
   481px - 768px
======================================== */

@media (min-width: 481px) and (max-width: 768px) {

    .features {
        padding: 0 20px;
    }

    .features-heading {
        max-width: 620px;
        margin-bottom: 50px;
    }

    .features-heading h2 {
        font-size: 34px;
        line-height: 1.2;
    }

    .features-navigation {
        margin-top: 35px;
    }

}


/* ========================================
   MOBILE
   0px - 480px
======================================== */

@media (max-width: 480px) {

    .features {
        padding: 0 15px;
    }

    .features-heading {
        max-width: 100%;
        margin-bottom: 40px;
    }

    .features-subheading {
        padding: 5px 10px;
        border-radius: 7px;
    }

    .features-heading p {
        font-size: 11px;
    }

    .features-heading h2 {
        margin-top: 15px;

        font-size: 28px;
        line-height: 1.2;
    }

    .features-navigation {
        margin-top: 30px;
    }

    .feature-left {
        padding: 11px 19px;
    }

    .feature-right {
        padding: 11px 29px;
    }

}
